@model CaelumEstoque.Models.Produto
<div>
    <form action="/Produto/Adiciona" method="post">
        @Html.AntiForgeryToken()
        <label for="nome">Nome:</label>
        <input class="form-control" id="nome" name="produto.Nome" value="@Model.Nome" />
        @Html.ValidationMessage("produto.Nome")
        <label for="preco">Preço:</label>
        <input class="form-control" id="preco" name="produto.Preco" value="@Model.Preco" />
        @Html.ValidationMessage("produto.Preco")
        @Html.ValidationMessage("produto.invalido")

        <label for="quantidade">Quantidade:</label>
        <input class="form-control" id="quantidade" name="produto.Quantidade" value="@Model.Quantidade" />
        @Html.ValidationMessage("produto.Quantidade")

        <label for="descricao">Descrição:</label>
        <input class="form-control" id="descricao" name="produto.Descricao" value="@Model.Descricao" />
        @Html.ValidationMessage("produto.Descricao")

        <label for="categoria">Categoria:</label>
        <select class="form-control" id="categoria" name="produto.CategoriaId">
            @foreach (var cateforia in ViewBag.Categorias)
            {
                <option value="@cateforia.Id" selected="@cateforia.Id.Equals(Model.CategoriaId)"> @cateforia.Nome</option>
            }
        </select>
        <br />
        <input type="submit" value="Cadastrar" />
    </form>
</div>